<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/about.css">
	</head>
	<body>
		<section id="text">
			<h1>About Me</h1>
				<p>
					My name is Victoria. I'm a 24-year-old American living in London. I love learning languages.
					So far, I know Ruby, JavaScript, CoffeeScript, HTML, CSS, and Russian.
				</p>
				<p>
					Coding is a relatively new passion of mine, but I absolutely love it.
					I am particularly attached to Ruby and RSpec.
					When I'm not coding, I am reading, binge-watching shows on Netflix, photographing nature, or writing. When I have time, I like to travel.
				</p>
		</section>
		<section id="photos">
			<img src="images/glendalough.png" id="glendalough" title="Hiking in Glendalough; Wicklow, Ireland"/>
			<img src="images/howth.png" id="howth" title="Photography by the sea can be a lot of fun! Howth, Ireland"/>
			<img src="images/photo.png" id="photography" title="But it can be hard, too... Chanonry Point, Scotland"/>
			<img src="images/lochness.png" id="lochness" title="Cruising on Loch Ness" />
		</section>
		<section id="back">
			<a href="/">
				<img src="icons/backbutton.png" id="back-button"/>
			</a>
		</section>

	</body>
</html>