<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/about.css">
	</head>
	<body>
		<section id="text">
			<h1>About Me</h1>
				<p>
					My name is Victoria. I'm a 24-year-old American living in London. I love learning languages.
					So far, I know Ruby, JavaScript, CoffeeScript, HTML, CSS, and Russian.
				</p>
				<p>
					Coding is a relatively new passion of mine, but I absolutely love it.
					I am particularly attached to Ruby and RSpec.
					When I'm not coding, I am reading, binge-watching shows on Netflix, photographing nature, or writing. When I have time, I like to travel.
				</p>
			<section id="back">
				<a href="/">
					<img src="icons/backbutton.png" id="back-button"/>
				</a>
			</section>
		</section>
		<section id="photos">
		</section>

	</body>
</html>