<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="/js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="css/homepage.css">
	</head>
	<body>
		<section class="top-line">
			<section id="github">
				<a href="https://github.com/barr-code/CV">
					<img src="icons/github.png" id="github-icon" class="icon"/>
				</a>
			</section>
			<section id="email">
				<a href="mailto:vwbarr@gmail.com">
					<img src="icons/email.png" id="email-icon" class="icon"/>
				</a>
			</section>
		</section>
		<section class="middle-line">
			<section id="name">
					<img src="icons/name-icon.png" id="name-icon"/>
			</section>
		</section>
		<section class="bottom-line">
			<section id="twitter">
				<a href="http://twitter.com/barr_code">
					<img src="icons/twitter.png" id="twitter-icon" class="icon"/>
				</a>
			</section>
			<section id="art">
				<a href="http://aglioph0bia.deviantart.com">
					<img src="icons/deviantart.png" id="art-icon" class="icon"/>
				</a>
			</section>
		</section>
	</body>
</html>
