body {
	background-color: #a68585;
	text-align: center;
}

.icon {
	float:left;
	opacity: .4;
	padding-top: 20%;
	padding-left: 4%;
}

#github-icon {
	width: 13%;
}

#email-icon {
	width: 12%;
}

#twitter-icon {
	width: 12%;
}

#art-icon {
	width: 12%;
}

#name-icon {
	float: left;
	padding-top: 12.5%;
	padding-left: 4%;
	width: 25%;
}